<a routerLink="/">< Назад</a>

<div class="row">
    <div class="col-md-6">
        <img class="book-cover" src="/assets/images/covers/{{ currentBook?.ID | chooseCover }}">
    </div>
    <div class="col-md-6">
        <div class="book-title">{{ currentBook?.Title }}</div>
        <div class="book-describe">{{ currentBook?.Description }}</div>
        <div class="book-excerpt">{{ currentBook?.Excerpt }}</div>
        <div class="book-page-count">Page count: {{ currentBook?.PageCount }}</div>
        <div class="book-date">{{ currentBook?.PublishDate | amDateFormat:'LL' }}</div>
    </div>
</div>
